@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    gap: 32px;
    padding: 64px 256px;
}

.hero-p {
    color: #e5e7eb;
    margin-bottom: 16px;
    font-size: 18px
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
    color: #f9faf8;
}

.place-holder {
    width: 425px;
    height: auto;
}

button {
    font-size: 16px;
    font-weight: 900;
    padding: 8px 24px;
    border-color: #2474f5;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.information {
    text-align: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 32px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
    margin-bottom: 16px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding-bottom: 96px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}